<%= page_header :title => "Instructions for Editing" %>
<h2>Editing the <%= ENV['VOCAB_NAME'] %></h2>
<p>Broadly speaking, editing the <%= ENV['VOCAB_NAME'] %> involves four stages.</p>
<ol>
  <li>Finding the activity in the List (or selecting to add a new one)</li>
  <li>Making the changes you wish to the activity</li>
  <li>Saving the activity. This preserves the changes you have made for e.g., later editing, but does not propagate them to the List itself.</li>
  <li>Publishing the activity, propagating your changes to the list</li>
  <li>Exporting the List for use by others.
</ol>
<p>The instructions below walk you through this process, depending on the nature of the change (Creating a new activity, editing an existing activity, or deleting an activity from the List) you wish to make.</p>
<br></br>
<h3><b>Viewing the <%= ENV['VOCAB_NAME'] %></b></h3>
<p>For most purposes the easiest way to view the <%= ENV['VOCAB_NAME'] %> is to click on the 'Concepts' tab. This will display a hierarchical view of the <%= ENV['VOCAB_NAME'] %> - that is to say, more-specific terms are listed under more general terms. For example, 'Small-sides Football' is listed under 'Football', and in turn contains terms such as '5-a-side', '6-a-side', etc.</p>
<p>To expand a hierarchical term, click on the small '+' icon beside it; to hide the more-specific terms, click on the '-' icon. Clicking on the magnifying glass icon to the right of a term will bring up more details about it - for example, a definition of the term, if one is recorded in the system.
  <br></br>
<h4>Finding a specific activity</h4>
<p>The hierarchical nature of the list can sometimes make finding an activity hard: how do you know which top-level terms you need to expand in order to find the lower-level activity?</p>
<p>In such cases, using 'Basic Find' to search for an activity by name can be extremely helpful. Given the relatively small (<700 items) size of the <%= ENV['VOCAB_NAME'] %>, it is not usually necessary to use the Advanced Search functionality, though it is there if desired.</p>
<br></br>
<h4><b>A note on Collections</b></h4>
<p>Collections functionality is not currently used in any systematic way by OpenActive. Accordingly the Collections view provides only a very partial and fragmented view of the <%= ENV['VOCAB_NAME'] %>, and is not recommended for current use.</p>
<p>The role of Collections may change in future, but for the present their use should be avoided.<p>
<br></br>
<h3><b>Adding a New Activity</b></h3>
<p>To add a new activity, use the top horizontal navigation bar to navigate to 'Concepts'; then, in the right-hand navigation bar, click 'New Concept'. This will bring you to the New Concept page, where you can add your new activity.</p>
<p>Although there are many fields that can be used to define your new activity, there are only a few that are required for it to appear in the <%= ENV['VOCAB_NAME'] %></p>
<br></br>
<h4><b>Labels</b></h4>
<p>This is the human-readable label that will be displayed to end-users. 'EN' refers to English-language labels; 'DE' to German-language labels. For current purposes, only the first must be supplied.</p>
<br></br>
<h4><b>Relations</b></h4>
<p>The important field here is 'Broader Term' - that is to say, the existing term in the current hierarchy that your new activity should sit under. For instance, if you were adding 'Rugby Union' to the <%= ENV['VOCAB_NAME'] %>, the 'Broader Term' would be the existing 'Rugby' activity.</p>
<p>If there is no broader term for your new activity - i.e., it forms a its own top-level category at the top of the hierarchy - tick the 'Top Term' box.</p>
<p>The 'Related Terms' field can be ignored.</p>
<br></br>
<h4><b>Definitions</b></h4>
<p>Click the 'Add' button to add a definition of your activity. A short description of the new activity should be supplied. Note that this should be a short, dictionary-style definition of the activity and not, for instance, a promotional blurb or review.</p>
<br></br>
<h4><b>Notations</b></h4>
<p>'Notation' here refers to how the activity is referred to by automated agents. It should be all lower-case, with individual words separated by an underscore rather than a space (for example, 'rugby_union' rather than 'Rugby Union').</p>
<br></br>
<h4><b>Publishing Your New Activity</b></h4>
<p>Once you have finished creating your new activity, click 'Save' (at the bottom of the screen). </p>
<p>Note that at this point, your new activity still isn't part of the activity hierarchy. For that to happen, you will need to scroll to the top of the screen and click on the 'Publish' button. Now your new activity is saved in the list and ready for export to the outside world.</p>
<br></br>
<h3><b>Editing an Existing Activity</b></h3>
<p>The workflow for modifying an activity already in the list involves more steps than might be expected.</p>
<ol>
  <li>Find the activity you wish to modify, possibly using Basic Find</li>
  <li>Click on the activity</li>
  <li>Click 'Create New Version'</li>
  <li>Change the fields that need to be updated</li>
  <li>Click the 'Save' button at the bottom of the screen</li>
  <li>Click the 'Publish' button at the top of the screen</li>
</ol>
<p>Your modified activity is now ready for export.</p>
<br></br>
<h3><b>Removing an Activity</b></h3>
<p>Strictly speaking, the <%= ENV['VOCAB_NAME'] %> Editor (and the underlying iqvoc editor it is based on) does not have the concept of deleting a concept, as this could lead to broken links, etc.</p>
<p>As a result, it is vitally important to check with downstream users of the <%= ENV['VOCAB_NAME'] %> (e.g. imin) to make sure they are adequately prepared for any scheduled deletions.</p> 
<p>Once removal of an activity from the List has been agreed, the procedure for doing so runs as follows:</p>
<ol>
  <li>Find the activity you wish to modify, possibly using Basic Find</li>
  <li>Click on the activity</li>
  <li>Click 'Create New Version'</li>
  <li>Under 'Properties' click 'Expired At'</li>
  <li>In the pop-up calendar, select a date in the past</li>
  <li>Click 'Save'</li>
  <li>Click 'Publish'</li>
</ol>
<p>The activity will no longer appear in the <%= ENV['VOCAB_NAME'] %>, though a record remains in the database for retrieval if required.</p>
<p>Your modified List is now ready for export.</p>
<br></br>
<h3><b>Exporting the New <%= ENV['VOCAB_NAME'] %></b></h3>
<p>Once you have made all the changes you need to the <%= ENV['VOCAB_NAME'] %>, it is time to export the list for use by other systems. To do so:</p>
<ol>
  <li>Navigate to the 'Dashboard' (top navigation bar)</li>
  <li>Click 'Publish to OpenActive' (left-hand navigation bar)</li>
</ol>
<p>After a pause of a few seconds, you should see a JSON rendering of the <%= ENV['VOCAB_NAME'] %> on your screen. This is an indication that the <%= ENV['VOCAB_NAME'] %> has been correctly processed, validated, and published by the Editor, and can now be used by systems downstream.</p>
<p>If you do not receive JSON feedback, or receive an error message, email <a href="mailto:services@openactive.io">services@openactive.io</a> to report the fault - along, if desired, with a list of the changes you were hoping to make to the List.</p>
<h4>For developers: confirming that changes have been exported</h4>
<p>The export process works by triggering a workflow in the GitHub <a href="https://github.com/openactive/<%= ENV['VOCAB_IDENTIFIER'] %>">openactive/<%= ENV['VOCAB_IDENTIFIER'] %></a> repository. Please see the README of that repository for more information.</p>

