<%= page_header :title => "OpenActive #{ ENV['VOCAB_NAME'] }" %>
<%= ENV['VOCAB_DESCRIPTION'] %><br><br>
<ul style="list-style: none;">
<li><a href="/en/hierarchical_concepts.html">View <%= ENV['VOCAB_NAME'] %></a></li>
<li><a href="/en/basic_find.html">Search <%= ENV['VOCAB_NAME'] %></a></li>
</ul>
<h2>Contributing to the OpenActive <%= ENV['VOCAB_NAME'] %></h2>
If you would like to propose additions to the list - or if you believe you have spotted an error in or necessary improvement to the list - please use the suggestion form below.<br><br>
<ul style="list-style: none;">
<li><a href="<%= ENV['VOCAB_SUGGESTIONS_FORM'] %>">Suggestions for, updates to, or feedback on, the list</a></li>
</ul>
<h2>Developer Access</h2>
A <a href="https://openactive.io/<%= ENV['VOCAB_IDENTIFIER'] %>/<%= ENV['VOCAB_IDENTIFIER'] %>.jsonld">JSON-LD definition</a> of the OpenActive <%= ENV['VOCAB_NAME'] %> controlled vocabulary is available for live integration into applications.<br><br>
This controlled vocabulary SHOULD be retrieved frequently using an HTTP GET and cached within an application, to ensure that the most up-to-date version is displayed to the user, while also protecting against network failure when accessing the underlying resource. To access this controlled vocabulary the application MUST GET the URL <code class="highlighter-rouge">"https://openactive.io/<%= ENV['VOCAB_IDENTIFIER'] %>/<%= ENV['VOCAB_IDENTIFIER'] %>.jsonld"</code> (note there is no www in the URL) which does not require a specific <code class="highlighter-rouge">Accept</code> header, and is cached via CDN. The controlled vocabulary is also available via a GET of the URL <code class="highlighter-rouge">"https://openactive.io/<%= ENV['VOCAB_IDENTIFIER'] %>"</code> using an <code class="highlighter-rouge">Accept</code> header of <code class="highlighter-rouge">application/ld+json</code>, for completeness, however this shorter URL MUST NOT be used in production.<br><br>
For more information, see the <a href="<%= ENV['VOCAB_HELP_URL'] %>">developer site</a>.
