<div class="relation panel">
  <h2><%= klass.model_name.human(:count => 2) %></h2>
  <div class="relation-body">
    <%= item_listing(concept.notations_for_class(klass)) do |notation|
      link_to notation.value, notation.data_type
    end %>
  </div>
</div>
<div class="relation panel">
  <h2><%= ENV['VOCAB_NAME'] %> Reference Example</h2>
  <div class="relation-body">
    <p>This example can be used by a software developer to help them hardcode "<%= CGI.escapeHTML(concept.pref_label.to_s) %>" within an open data feed:</p>
    <pre>"activity": [
  {
    "@type": "Concept",
    "@id": "https://openactive.io/<%= ENV['VOCAB_IDENTIFIER'] %>#<%= CGI.escapeHTML(concept.origin[1..-1]) %>",
    "prefLabel": "<%= CGI.escapeHTML(concept.pref_label.to_s) %>",
    "inScheme": "https://openactive.io/<%= ENV['VOCAB_IDENTIFIER'] %>"
  }
],</pre>
    <p>For more information, see the <a href="<%= ENV['VOCAB_HELP_URL'] %>">developer site</a>.</p>
  </div>
</div>